/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #272727;
}

/* NAV BAR*/

.navbar-brand {
  font-size: 30px;
}

.nav-item:hover,
.navbar-toggler:hover {
  background-color: #3987fc;
  border-bottom: 2px solid #ffff;
  border-top: 2px solid #ffff;
}

.nav-item,
.navba-toggler {
  list-style: none;
  border: 3px solid transparent;
  padding: 10px;
  transition: 0.4s;
}

/* INDEX */

main {
  padding-top: 80px;
}

.index {
  background-color: #272727;
}

.index-content h1 {
  display: flex;
  justify-content: center;
  padding: 60px;
  color: white;
  font-family: goldman;
  font-size: 120px;
}

.index-content p {
  display: flex;
  justify-content: flex-start;
  color: white;
}

.indexcontainer {
  display: flex;
  align-items: center;
  padding-bottom: 100px;
  border-bottom: 3px solid #3987fc;
  text-align: justify;
}

.indexcontainer img {
  margin-right: 20px;
  width: 50%;
  border-radius: 20px;
  box-shadow: 10px 10px 7px 1px #181818;
  border: 1px solid #3987fc;
}

.indexcontainer p {
  margin-right: 30px;
  color: white;
  font-size: 30px;
  padding: 30px;
  align-self: flex-start;
}

.carousel {
  padding: 60px;
  height: 80%;
  width: 100%;
  background-color: #272727;
  padding-top: 80px;
  padding-bottom: 80px;
}

/* GALERÍA*/

.galery-content h1 {
  display: flex;
  justify-content: center;
  padding: 60px;
  color: white;
  font-family: goldman;
  font-size: 120px;
  background-color: #272727;
}

.grilla {
  display: grid;
  gap: 20px;
  background-color: #272727;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(auto, 500px);
  padding: 30px;
  grid-template-areas:
    "area5 area5 area2"
    "area5 area5 area2"
    "area1 area4 area4"
    "area1 area4 area4"
    "area6 area6 area3"
    "area6 area6 area3"
    "area10 area7 area7"
    "area10 area7 area7"
    "area9 area9 area8"
    "area9 area9 area8";
}

.caja {
  transition: 0.4s;
  width: 100%;
  height: 100%;
  background-color: #3987fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 10px 10px 7px 2px #181818;
}

.caja :hover {
  box-shadow: 10px 10px 7px 4px #181818;
  border: 1px solid #3987fc;
  transition: 0.6s;
}

.caja img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.c1 {
  grid-area: area4;
}

.c2 {
  grid-area: area6;
}

.c3 {
  grid-area: area1;
}

.c4 {
  grid-area: area2;
}

.c5 {
  grid-area: area5;
}

.c6 {
  grid-area: area3;
}

.c7 {
  grid-area: area7;
}

.c8 {
  grid-area: area8;
}

.c9 {
  grid-area: area9;
}

.c10 {
  grid-area: area10;
}

.card :hover {
  opacity: 0;
  transition: 0.3s;
}

/* CONTACTO*/

.contact-content h1 {
  display: flex;
  justify-content: center;
  padding: 60px;
  color: white;
  font-size: 120px;
  background-color: #272727;
  font-family: goldman;
}

.contact-content p {
  display: flex;
  color: white;
  justify-content: center;
  font-size: 30px;
  padding: 30px;
}

label {
  color: white;
}

.contact {
  display: grid;
  gap: 20px;
  background-color: #272727;
  grid-template-columns: repeat(1, 2fr);
  grid-template-rows: repeat(auto, 500px);
  padding: 15px;
}

.contact :hover {
  box-shadow: 10px 10px 7px 4px #181818;
  border: 1px solid #3987fc;
  transition: 0.6s;
}

/* TRAYECTORIA*/

.trayect h1 {
  display: flex;
  justify-content: center;
  padding: 60px;
  color: white;
  font-size: 120px;
  background-color: #272727;
  font-family: goldman;
}

.trayectoria {
  display: grid;
  gap: 200px;
  grid-template-columns: repeat(1, 2fr);
  grid-template-rows: repeat(auto, 500px);
  padding: 50px;
  grid-template-areas:
    "index"
    "barcah2"
    "barcap"
    "parish2"
    "parisp"
    "argh2"
    "argp";
}

.indice {
  grid-area: index;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 100px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 24px;
  background-color: #3987fc;
  color: white;
}

.indice a {
  color: white;
  text-decoration: none;
}

.barcaH2,
.parisH2,
.argH2 {
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  padding: 100px;
  gap: 50px;
  text-decoration: underline;
}

.barcaP,
.parisP,
.argP {
  color: white;
  font-size: 34px;
  justify-content: center;
  padding: 50px;
  text-align: justify;
}

/* RECONOCIMIENTOS */

.recon h1 {
  display: flex;
  justify-content: center;
  padding: 60px;
  color: white;
  font-size: 120px;
  background-color: #272727;
  font-family: goldman;
}

.recon-index {
  grid-area: index;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 100px;
  margin-left: 70px;
  margin-right: 70px;
  font-size: 24px;
  background-color: #3987fc;
  color: white;
}

.recon-index a {
  color: white;
  text-decoration: none;
}

.reconocimientos {
  display: flex;
  flex-direction: column;
  gap: 200px;
  padding: 50px;
}

.awardsH2 {
  color: #3987fc;
  font-size: 90px;
  display: flex;
  justify-content: center;
  padding: 100px;
  gap: 50px;
  text-decoration: underline;
}

.awardsP1 {
  color: white;
  font-size: 40px;
  justify-content: center;
  padding: 50px;
  text-align: justify;
}

.awardsH3 {
  color: white;
  font-size: 60px;
  display: flex;
  justify-content: center;
  padding: 100px;
  gap: 50px;
}

.awardsP {
  color: white;
  font-size: 30px;
  justify-content: center;
  padding: 50px;
  text-align: justify;
}

.Barcelona {
  color: white;
  font-size: 34px;
  padding: 50px;
  text-align: justify;
  text-decoration: none;
}

.Barcelona li {
  margin-left: 150px;
}
