@charset "UTF-8";
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #272727;
}

main {
  padding-top: 80px;
}

/* NAV BAR*/
footer {
  background-color: white;
  padding: 40px;
}

.logos-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logos-container :hover {
  background-color: rgb(224, 223, 223);
  transition: 0.4s;
}

footer img {
  height: 70px;
  width: auto;
}

.navbar-brand {
  height: 70px;
  width: 70px;
}

.nav-item:hover,
.navbar-toggler:hover {
  background-color: #3987fc;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}

.nav-item,
.navba-toggler {
  list-style: none;
  border: 3px solid transparent;
  padding: 10px;
  transition: 0.4s;
}

.carousel {
  padding: 60px;
  height: 80%;
  width: 100%;
  background-color: #272727;
  padding-top: 80px;
  padding-bottom: 80px;
}

.carousel-item {
  border: 2px solid #3987fc;
}

/* INDEX */
.index {
  background-color: #272727;
}

.index-content h1 {
  display: flex;
  justify-content: center;
  padding: 60px;
  color: white;
  font-family: goldman;
  font-size: 120px;
}

.indexcontainer {
  display: flex;
  align-items: center;
  padding-bottom: 100px;
  border-bottom: 3px solid #3987fc;
  text-align: justify;
}

.indexcontainer img {
  margin-right: 20px;
  width: 50%;
  border-radius: 20px;
  box-shadow: 10px 10px 7px 1px #181818;
  border: 1px solid #3987fc;
}

.indexcontainer p {
  margin-right: 30px;
  color: white;
  font-size: 30px;
  padding: 30px;
  align-self: flex-start;
}

/* GALERÍA*/
.galery-content h1 {
  display: flex;
  justify-content: center;
  padding: 60px;
  color: white;
  font-family: goldman;
  font-size: 120px;
  background-color: #272727;
}

.grilla {
  display: grid;
  gap: 20px;
  background-color: #272727;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(auto, 500px);
  padding: 30px;
  grid-template-areas: "area5 area5 area2" "area5 area5 area2" "area1 area4 area4" "area1 area4 area4" "area6 area6 area3" "area6 area6 area3" "area10 area7 area7" "area10 area7 area7" "area9 area9 area8" "area9 area9 area8";
}

.caja {
  transition: 0.4s;
  width: 100%;
  height: 100%;
  background-color: #3987fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 10px 10px 7px 2px #181818;
  border: 1px solid #ffffff;
}

.caja :hover {
  box-shadow: 10px 10px 7px 4px #181818;
  border: 3px solid #3987fc;
  transition: 0.2s;
}

.caja img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.c1 {
  grid-area: area4;
}

.c2 {
  grid-area: area6;
}

.c3 {
  grid-area: area1;
}

.c4 {
  grid-area: area2;
}

.c5 {
  grid-area: area5;
}

.c6 {
  grid-area: area3;
}

.c7 {
  grid-area: area7;
}

.c8 {
  grid-area: area8;
}

.c9 {
  grid-area: area9;
}

.c10 {
  grid-area: area10;
}

.card :hover {
  opacity: 0;
  transition: 0.3s;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 40px;
}

/* CONTACTO*/
.contact-content h1 {
  display: flex;
  justify-content: center;
  padding: 60px;
  color: white;
  font-size: 120px;
  background-color: #272727;
  font-family: goldman;
}

.contact-content p {
  display: flex;
  color: white;
  justify-content: center;
  font-size: 30px;
  padding: 30px;
}

label {
  color: white;
}

.contact {
  display: grid;
  gap: 20px;
  background-color: #272727;
  grid-template-columns: repeat(1, 2fr);
  grid-template-rows: repeat(auto, 500px);
  padding: 15px;
}

.contact :hover {
  box-shadow: 10px 10px 7px 4px #181818;
  border: 1px solid #3987fc;
  transition: 0.6s;
}

/* TRAYECTORIA*/
.trayect h1 {
  display: flex;
  justify-content: center;
  padding: 60px;
  color: white;
  font-size: 120px;
  background-color: #272727;
  font-family: goldman;
}

.trayectoria {
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.indice {
  background-color: #3987fc;
  display: flex;
  justify-content: center;
  padding: 70px;
  color: white;
  margin-left: 50px;
  margin-right: 50px;
}

.indice a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  text-decoration: none;
}

.barcaH2,
.parisH2,
.argH2 {
  color: white;
  background-color: #333333;
  font-size: 60px;
  display: flex;
  justify-content: center;
  padding: 100px;
  gap: 50px;
}

.trayectP {
  color: white;
  font-size: 30px;
  justify-content: center;
  padding: 50px;
  text-align: justify;
}

/* RECONOCIMIENTOS */
.recon h1 {
  display: flex;
  justify-content: center;
  padding: 60px;
  color: white;
  font-size: 100px;
  background-color: #272727;
  font-family: goldman;
}

.recon-index {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 40px 10px;
  margin-left: 70px;
  margin-right: 70px;
  font-size: 24px;
  background-color: #3987fc;
  color: white;
}

.recon-index a {
  color: white;
  text-decoration: none;
}

.reconocimientos {
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.awardsH2 {
  color: #3987fc;
  font-size: 90px;
  display: flex;
  justify-content: center;
  padding: 50px;
  gap: 50px;
  text-decoration: underline;
}

.awardsP1 {
  color: white;
  font-size: 40px;
  justify-content: center;
  padding: 50px;
  text-align: justify;
}

.awardsH3 {
  color: white;
  background-color: #333333;
  font-size: 60px;
  display: flex;
  justify-content: center;
  padding: 100px;
  gap: 50px;
}

.awardsP {
  color: white;
  font-size: 30px;
  justify-content: center;
  padding: 50px;
  text-align: justify;
}

.titles-list {
  color: white;
  font-size: 34px;
  padding: 50px;
  text-align: justify;
  text-decoration: none;
}

.Barcelona li {
  margin-left: 150px;
}

@media (max-width: 1024px) {
  /*TRAYECTORIA*/
  .trayect h1 {
    font-size: 100px;
  }
  /*RECONOCIMIENTOS*/
  .recon h1 {
    font-size: 70px;
  }
  /*CONTACTO*/
  .contact-content h1 {
    font-size: 100px;
  }
  .contact-content p {
    font-size: 20px;
  }
  /*GALERIA*/
  .cards {
    flex-direction: column;
  }
  .galery-content h1 {
    font-size: 100px;
  }
  /*INDEX*/
  .index-content h1 {
    padding: 60px;
    color: white;
    font-size: 100px;
  }
  .indexcontainer {
    flex-direction: column;
  }
  .indexcontainer img {
    margin: 0;
    width: 90%;
  }
  .indexcontainer p {
    font-size: 20px;
    margin: 0;
  }
  /*CAROUSEL*/
  .carousel {
    padding: 40px;
    margin: 0;
  }
}
@media (max-width: 768px) {
  /*RECONOCIMIENTOS*/
  .titles-list li {
    font-size: 20px;
  }
  .awardsH2 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding: 100px;
    gap: 50px;
  }
  .awardsH3 {
    font-size: 40px;
    padding: 100px;
    gap: 50px;
  }
  .awardsP,
  .awardsP1 {
    font-size: 15px;
  }
  .recon h1 {
    font-size: 40px;
  }
  .recon-index {
    padding: 40px 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .recon-index a {
    font-size: 20px;
  }
  /*TRAYECTORIA*/
  .barcaH2,
  .parisH2,
  .argH2 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding: 100px;
    gap: 50px;
  }
  .trayectP {
    font-size: 15px;
  }
  .indice {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .indice a {
    font-size: 20px;
  }
  .trayect h1 {
    font-size: 50px;
  }
  /*CONTACTO*/
  .contact-content h1 {
    padding: 40px;
    font-size: 50px;
  }
  .contact input,
  textarea {
    font-size: 15px;
  }
  .contact-content p {
    font-size: 15px;
  }
  /*GALERIA*/
  .cards {
    flex-direction: column;
  }
  .card-text {
    color: transparent;
  }
  .card-title {
    font-size: 20px;
  }
  .galery-content h1 {
    font-size: 50px;
  }
  /*INDEX*/
  .index-content h1 {
    padding: 40px;
    font-size: 50px;
  }
  .indexcontainer {
    flex-direction: column;
  }
  .indexcontainer img {
    width: 90%;
  }
  .indexcontainer p {
    font-size: 15px;
    margin: 0;
  }
  /*GENERALES*/
  .carousel {
    padding: 40px;
    margin: 0;
  }
  footer img {
    height: 50px;
    width: auto;
  }
}
@media (max-width: 400px) {
  /*RECONOCIMIENTOS*/
  .recon h1 {
    font-size: 30px;
  }
  .titles-list li {
    font-size: 20px;
  }
  .awardsP,
  .awardsP1 {
    font-size: 15px;
  }
  .awardsH2 {
    font-size: 30px;
  }
  .awardsH3 {
    font-size: 25px;
  }
  /*GALERIA*/
  .cards {
    flex-direction: column;
  }
  .card-text {
    font-size: 8px;
    object-fit: cover;
  }
  .card-title {
    font-size: 10px;
  }
  .galery-content h1 {
    font-size: 40px;
  }
  .grilla {
    grid-template-areas: "area1 area1 area1" "area2 area2 area2" "area3 area3 area3" "area4 area4 area4" "area5 area5 area5" "area6 area6 area6" "area7 area7 area7" "area8 area8 area8" "area9 area9 area9" "area10 area10 area10";
  }
  /*CONTACTO*/
  .contact-content p {
    font-size: 13px;
  }
  .contact input,
  textarea {
    font-size: 10px;
  }
  .contact-content h1 {
    padding: 30px;
    font-size: 40px;
  }
  /*TRAYECTORIA*/
  .trayect h1 {
    font-size: 40px;
  }
  .indice a {
    font-size: 15px;
  }
  /*INDEX*/
  .index-content h1 {
    padding: 30px;
    color: white;
    font-size: 40px;
  }
  .indexcontainer {
    flex-direction: column;
  }
  .indexcontainer img {
    width: 90%;
  }
  .indexcontainer p {
    font-size: 13px;
    margin: 0;
  }
  /*GENERALES*/
  footer img {
    height: 30px;
    width: auto;
  }
}
@media (max-width: 250px) {
  /*GALERIA*/
  .cards {
    flex-direction: column;
  }
  .card-text {
    font-size: 8px;
    object-fit: cover;
    color: transparent;
  }
  .card-title {
    font-size: 10px;
  }
  .galery-content h1 {
    font-size: 25px;
  }
  /*CONTACTO*/
  .contact-content h1 {
    font-size: 25px;
  }
  /*TRAYECTORIA*/
  .trayect h1 {
    font-size: 25px;
  }
  .trayectP {
    font-size: 12px;
  }
  /*INDEX*/
  .index-content h1 {
    font-size: 25px;
  }
  /*GENERALES*/
  footer img {
    height: 20px;
    width: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
