/* RECONOCIMIENTOS */
  
.recon h1 {
    display: flex;
    justify-content: center;
    padding: 60px;
    color: white;
    font-size: 100px;
    background-color: #272727;
    font-family: goldman;
  }
  
  .recon-index {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 10px;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 24px;
    background-color: #3987fc;
    color: white;
  }
  
  .recon-index a {
    color: white;
    text-decoration: none;
  }
  
  .reconocimientos {
    display: flex;
    flex-direction: column;
    gap: 200px;
  }
  
  .awardsH2 {
    color: #3987fc;
    font-size: 90px;
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 50px;
    text-decoration: underline;
  }
  
  .awardsP1 {
    color: white;
    font-size: 40px;
    justify-content: center;
    padding: 50px;
    text-align: justify;
  }
  
  .awardsH3 {
    color: white;
    background-color: #333333;
    font-size: 60px;
    display: flex;
    justify-content: center;
    padding: 100px;
    gap: 50px;
  }
  
  .awardsP {
    color: white;
    font-size: 30px;
    justify-content: center;
    padding: 50px;
    text-align: justify;
  }
  
  .titles-list {
    color: white;
    font-size: 34px;
    padding: 50px;
    text-align: justify;
    text-decoration: none;
  }
  
  .Barcelona li {
    margin-left: 150px;
  }