/* GALERÍA*/

.galery-content {
  h1 {
    display: flex;
    justify-content: center;
    padding: 60px;
    color: $main-color;
    font-family: goldman;
    font-size: 120px;
    background-color: $bg-color;
  }
}

.grilla {
  display: grid;
  gap: 20px;
  background-color: $bg-color;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(auto, 500px);
  padding: 30px;
  grid-template-areas:
    "area5 area5 area2"
    "area5 area5 area2"
    "area1 area4 area4"
    "area1 area4 area4"
    "area6 area6 area3"
    "area6 area6 area3"
    "area10 area7 area7"
    "area10 area7 area7"
    "area9 area9 area8"
    "area9 area9 area8";
  .caja {
    width: 100%;
    height: 100%;
    background-color: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 7px 2px #181818;
    border: 1px solid $text-color;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }
  }
  .c1 {
    grid-area: area4;
  }

  .c2 {
    grid-area: area6;
  }

  .c3 {
    grid-area: area1;
  }

  .c4 {
    grid-area: area2;
  }

  .c5 {
    grid-area: area5;
  }

  .c6 {
    grid-area: area3;
  }

  .c7 {
    grid-area: area7;
  }

  .c8 {
    grid-area: area8;
  }

  .c9 {
    grid-area: area9;
  }

  .c10 {
    grid-area: area10;
  }

  .caja :hover {
    box-shadow: 10px 10px 7px 4px #181818;
    border: 3px solid $main-color;
    transition: 0.2s;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 40px;
}

.card :hover {
  opacity: 0;
  transition: 0.3s;
}
