/* INDEX */



.index {
  background-color: #272727;
  .index-content {
    h1{
      display: flex;
      justify-content: center;
      padding: 60px;
      color: $main-color;
      font-family: goldman;
      font-size: 120px;
      background-color: #272727;
    }  
   
  }
  .indexcontainer {
    display: flex;
    align-items: center;
    padding-bottom: 100px;
    border-bottom: 3px solid $main-color;
    text-align: justify;
    img{
      @include imgs(20px,50%,20px,10px 10px 7px 1px #181818,1px solid $main-color)
    }
    p{
      margin-right: 30px;
    color: $text-color;
    font-size: 30px;
    padding: 30px;
    align-self: flex-start;
    }
  }
}





