/* RECONOCIMIENTOS */

.recon {
  h1 {
    display: flex;
    justify-content: center;
    padding: 60px;
    color: $main-color;
    font-family: goldman;
    font-size: 120px;
    background-color: $bg-color;
  }
}

.reconocimientos {
  display: flex;
  flex-direction: column;
  gap: 200px;
  .recon-index {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 10px;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 24px;
    background-color: $main-color;
    color: $text-color;
    & a {
      color: $text-color;
      text-decoration: none;
    }
  }
  .awardsH2 {
    color: $main-color;
    font-size: 90px;
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 50px;
    text-decoration: underline;
  }

  .awardsP1 {
    @extend .awardsP;
  }

  .awardsH3 {
    color: $text-color;
    background-color: #333333;
    font-size: 60px;
    display: flex;
    justify-content: center;
    padding: 100px;
    gap: 50px;
  }

  .awardsP {
    color: $text-color;
    font-size: 30px;
    justify-content: center;
    padding: 50px;
    text-align: justify;
  }

  .titles-list {
    color: $text-color;
    font-size: 34px;
    padding: 50px;
    text-align: justify;
    text-decoration: none;
  }
}
