/* RECONOCIMIENTOS */

.recon {
  h1 {
    display: flex;
    justify-content: center;
    padding: 60px;
    color: $main-color;
    font-family: goldman;
    font-size: 120px;
    background-color: $bg-color;
  }
}

.reconocimientos {
  display: flex;
  flex-direction: column;
  gap: 200px;
  .recon-index {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 10px;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 24px;
    background-color: $main-color;
    border-radius: 20px;
    border: 3px solid white;
    color: $text-color;
    & a {
      color: $text-color;
      text-decoration: none;
    }
    &:hover{
      transform: scale(1.02 , 1.03);
      transition: 0.3s;
    }
  }
  .awardsH2 {
    color: $main-color;
    font-size: 90px;
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 50px;
    text-decoration: underline;
  }

  .awardsP1 {
    @extend .awardsP;
  }

  .awardsH3 {
    color: $text-color;
    background: linear-gradient(to right , $bg-color , #333333 , $bg-color );
    font-size: 60px;
    display: flex;
    justify-content: center;
    padding: 100px;
    gap: 50px;
    &:hover{
      color: gold;
      font-weight: bold;
      transition: 0.3s;
      
    }
  }

  .awardsP {
    margin-left: 40px;
    margin-right: 40px;
    color: $text-color;
    font-size: 30px;
    justify-content: center;
    padding: 50px;
    text-align: justify;
  }

  .titles-list {
    color: $text-color;
    font-size: 34px;
    padding: 50px;
    text-align: justify;
    text-decoration: none;
  }
  
}

.gradientes{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  .gradiente1 {
    align-self: center;
    width: 50%;
    height: 500px;
    margin: 30px;
    background: linear-gradient(to right, rgba(40, 40, 214, 0.5), rgba(57, 135, 252, 0.719), rgba(40, 40, 214, 0.5)),
      url(https://static.independentespanol.com/2023/06/13/18/MESSI-FUTURO_62636.jpg);
      background-size: cover;
    border: 3px solid $text-color;
    border-radius: 20px;
    box-shadow: 10px 10px 7px 2px #181818;
    &:hover{
      transform: scale(1.03, 1.1);
      border: 3px solid $main-color;
      transition: 0.4s;
    }
    h4 {
      display: flex;
      justify-content: center;
      color: white;
      padding: 20px;
      font-size: 40px;
      background-color: rgba(255, 255, 255, 0.096);
    }
    ol {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style-type: none;
      gap: 5px;
      margin: 0;
      padding: 0;
    }
    li {
      color: $text-color;
      font-size: 30px;
      text-align: justify;
    }
  }
  .gradiente2{
    align-self: center;
      width: 50%;
      height: 500px;
      margin: 30px;
      background: linear-gradient(to right, rgba(40, 40, 214, 0.5), rgba(57, 135, 252, 0.719), rgba(40, 40, 214, 0.5)),
        url(https://s.yimg.com/ny/api/res/1.2/cOUbVR2dJCcvgEaqWVVdeA--/YXBwaWQ9aGlnaGxhbmRlcjt3PTk2MDtoPTcxMg--/https://media.zenfs.com/es/reuters.com/a86fc35eb35f8b577c0fda624a13f475);
        background-size: cover;
      border: 3px solid $text-color;
      border-radius: 20px;
      box-shadow: 10px 10px 7px 2px #181818;
      &:hover{
        transform: scale(1.03, 1.1);
        border: 3px solid $main-color;
        border-radius: 20px;
        transition: 0.4s;
      }
      h4{
        display: flex;
      justify-content: center;
      color: white;
      padding: 20px;
      font-size: 40px;
      background-color: rgba(255, 255, 255, 0.096);
      }
      ol{
        display: flex;
      flex-direction: column;
      align-items: center;
      list-style-type: none;
      gap: 5px;
      margin: 0;
      padding: 0;
      }
      li{
        color: $text-color;
      font-size: 30px;
      text-align: justify;
      }
      
  }
}

